<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="bg-light">
<div>
    <div th:replace="fragments :: navigation"></div>
</div>

<div class="container body-content">
    <div class="mkpTitle">
        <h3><bold>LOCAL PRODUCE MARKETPLACE</bold></h3>
        <p>Welcome to our marketplace! Buy fruits, vegetables, and more from local producers near your home!</p>
        <br>

        <h4>SEE ALL PRODUCTS</h4>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-3 col-lg-2" th:each="product : ${products}">
                    <div class="card mb-4">
                        <img th:src="@{|${product.photo}|}" th:value="@{product.photo}" class="card-img-top mkp-img">
                        <div class="card-body">
                            <h5 th:text="${product.name}">PRODUCT</h5>
                            <a th:href="@{'users/profile/' + ${product.vendor.id}}" th:text="${product.vendor.name}"></a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>

        <h4>SEE ALL VENDORS</h4>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-3 col-lg-2" th:each="vendor : ${vendors}">
                    <div class="card mb-4">
                        <img th:src="@{|${vendor.photo}|}" th:value="@{vendor.photo}" class="card-img-top mkp-img">
                        <div class="card-body">
                            <h5 th:text="${vendor.name}">VENDOR</h5>
                            <a th:href="@{'profile/vendorId' + ${vendorId}}">See profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash;Marketplace table&ndash;&gt;-->
<!--<div class="container" style = "position:relative; top: 80px;">-->
<!--    <h1>Marketplace</h1>-->
<!--    <div class="row col-md-7 table-responsive;">-->
<!--        <table id="customerTable" class="table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Product</th>-->
<!--                <th>Description</th>-->
<!--                <th>Photo</th>-->
<!--                <th>Organic</th>-->
<!--                <th>Location</th>-->
<!--                <th>Vendor</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="product, rowStat: ${products}"-->
<!--                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">-->
<!--                <td th:text="${product.name}"></td>-->
<!--                <td th:text="${product.description}"></td>-->
<!--                <td th:src="${product.photo}"></td>-->
<!--                <td>-->
<!--                    <span th:if="${product.organic == true}">Organic</span>-->
<!--                    <span th:unless="${product.organic == true}">Non-Organic</span>-->
<!--                </td>-->
<!--&lt;!&ndash;                <td th:text="${product.vendor.location}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td th:text="${product.vendor.name}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a th:href="@{'/users/profile'} + ${product.vendor.id}}"></a>&ndash;&gt;-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->